exportPattern(kmodes,Benhc,hammingD,CTN,enhcHi,ggdplot,tangle)
import(seqinr,ggplot2)
importFrom(stats,as.dist,hclust,as.dendrogram,cutree)
importFrom(ggdendro,dendro_data,ggdendrogram)
importFrom(dendextend,match_order_by_labels,dendlist,tanglegram)

